/* $covid71: #41448788;
$covid72: #35608D88;
$covid73: #2A788E88;
$covid74: #21908C88;
$covid75: #22A88488;
$covid76: #43BF7188;
$covid77: #7AD15188;

$covid51: #41448788;
$covid52: #2F6C8E88;
$covid53: #21908C88;
$covid54: #2FB47C88;
$covid55: #7AD15188; */
.list-radio .radio-list ul {
  border-radius: 2px;
}

.list-radio .radio-item {
  background: #92a8c9;
  color: #222;
  font-weight: normal;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
}

.list-radio .radio-item input[type="radio"] {
  display: none;
}

.list-radio .radio-item:hover {
  background: #666;
  color: white;
}

.list-radio .radio-item label {
  margin-bottom: 0;
  display: block;
  font-weight: normal;
  padding: 10px 30px;
  text-align: center;
}

.list-radio .radio-item label::before, .list-radio .radio-item label::after {
  margin: 0;
  display: inline-block;
  content: "";
  width: auto;
  height: auto;
  border: none;
  top: 6px;
  background: transparent;
  padding: 0;
}

.list-radio .radio-item label::before {
  left: 0;
  right: auto;
}

.list-radio .radio-item label::after {
  left: auto;
  right: 0;
}

.list-radio .radio-item.checked {
  background: #b71f2b;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  padding: 0 20px;
}

.list-radio .radio-item.checked:hover {
  color: white;
}

.list-radio .radio-item.checked label::before, .list-radio .radio-item.checked label::after {
  font-family: "FontAwesome";
  font-weight: bold;
  font-size: 24px;
  width: 24px;
  height: 24px;
  line-height: 1.2;
  border: none;
  background: transparent;
}

.list-radio .radio-item.checked label::before {
  content: "\f105";
}

.list-radio .radio-item.checked label::after {
  content: "\f104";
}

.list-radio .radio-item .input-sm {
  font-size: 18px;
}

.list-radio .radio-text-item.radio-item .form-group.other-text-item {
  padding-left: 15px;
  padding-right: 15px;
}

.list-radio .radio-text-item.radio-item.checked .form-group.other-text-item {
  padding-left: 0;
  padding-right: 0;
}

.list-radio .radio-text-item.radio-item.checked label::before {
  content: "\f105";
  margin-left: -5px;
}

.list-radio .radio-text-item.radio-item.checked label::after {
  content: "";
}

.dir-rtl .list-radio .radio-text-item.radio-item.checked label::after {
  content: "\f104";
  margin-left: -5px;
}

.dir-rtl .list-radio .radio-text-item.radio-item.checked label::before {
  content: "";
}

.list-radio.bi .radio-item {
  color: white;
}

.list-radio.bi .radio-item:nth-child(1) {
  background: #440154;
}

.list-radio.bi .radio-item:nth-child(2) {
  background: #491D54;
}

.list-radio.bi .radio-item:nth-child(3) {
  background: #4F3854;
}

.list-radio.bi .radio-item:nth-child(4) {
  background: #555555;
}

.list-radio.bi .radio-item:nth-child(5) {
  background: #436867;
}

.list-radio.bi .radio-item:nth-child(6) {
  background: #327C79;
}

.list-radio.bi .radio-item:nth-child(7) {
  background: #21908C;
}

.list-radio.bi .radio-item:nth-child(8) {
  background: #eee;
  color: black;
}

.list-radio.bi .radio-item:hover {
  background: #666;
  color: white;
}

.list-radio.bi .radio-item.checked {
  background: #b71f2b;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
}

.list-radio.bi .radio-item.checked:hover {
  color: white;
}

.list-radio.uni .radio-item {
  color: white;
}

.list-radio.uni .radio-item:nth-child(1) {
  background: #440154;
}

.list-radio.uni .radio-item:nth-child(2) {
  background: #481654;
}

.list-radio.uni .radio-item:nth-child(3) {
  background: #4C2B54;
}

.list-radio.uni .radio-item:nth-child(4) {
  background: #504054;
}

.list-radio.uni .radio-item:nth-child(5) {
  background: #555555;
}

.list-radio.uni .radio-item:nth-child(6) {
  background: #eee;
  color: black;
}

.list-radio.uni .radio-item:hover {
  background: #666;
  color: white;
}

.list-radio.uni .radio-item.checked {
  background: #b71f2b;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
}

.list-radio.uni .radio-item.checked:hover {
  color: white;
}

.multiple-opt.input-error .answer-container {
  background: #e94a50;
}

.multiple-opt li.checkbox-item {
  padding: 0;
  color: #222;
  font-weight: normal;
  margin-bottom: 5px;
}

.multiple-opt li.checkbox-item input[type="checkbox"] {
  display: none;
}

.multiple-opt li.checkbox-item .input-sm {
  font-size: 18px;
}

.multiple-opt li.checkbox-item label {
  margin-bottom: 0;
  display: block;
  font-weight: normal;
  padding: 10px 40px;
  background: #92a8c9;
}

.multiple-opt li.checkbox-item label:hover {
  background: #666;
  color: white;
}

.multiple-opt li.checkbox-item label:hover::before, .multiple-opt li.checkbox-item label:hover::after {
  color: white;
}

.multiple-opt li.checkbox-item label::before, .multiple-opt li.checkbox-item label::after {
  font-family: "FontAwesome";
  content: "\f096";
  font-size: 24px;
  line-height: 1.2;
  top: 8px;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  display: inline-block;
  width: 30px;
}

.multiple-opt li.checkbox-item label::before {
  left: 10px;
  right: auto;
  text-align: left;
}

.multiple-opt li.checkbox-item label::after {
  left: auto;
  right: 10px;
  text-align: right;
}

.multiple-opt li.checkbox-text-item label::after {
  display: none;
}

.checkbox-item input[type="checkbox"]:checked + label::after,
.checkbox-item input[type="checkbox"]:checked + label::before {
  content: "\f046";
  color: white;
}

.checkbox-item input[type="checkbox"]:checked + label {
  background: #384e71;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
}

.dir-rtl .multiple-opt li.checkbox-item label::before {
  left: auto;
  right: 10px;
  text-align: right;
}

.dir-rtl .multiple-opt li.checkbox-item label::after {
  right: auto;
  left: 10px;
  text-align: left;
}

.checkbox-item.checkbox-text-item input[type="checkbox"]:checked + label::after {
  content: "";
  display: none;
}

@media (max-width: 767px) {
  li.checkbox-item.checkbox-text-item .form-group.other-text-item {
    padding: 0 15px 15px;
  }
}

.slider-handle {
  background-image: none;
  background-color: #e94a50;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.slider-track {
  background: #ddd;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}

.slider-track-low,
.slider-track-high {
  border-radius: 0;
}

.slider-selection {
  background: #384e71;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}

.numeric-multi .hide-tip {
  display: none;
}

body {
  background: #ddd;
  background: #384e71;
  font-size: 16px;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-danger {
  color: #b71f2b;
}

.text-info {
  color: #384e71;
}

#outerframeContainer {
  margin-bottom: 120px;
}

.navbar-brand {
  padding: 0;
  height: 100px;
}

.navbar-default {
  background: #384e71;
  border: none;
}

.navbar-default .navbar-nav > li a {
  color: #ddd;
}

.navbar-default .navbar-nav > li a:hover {
  color: #fff;
}

select.form-control {
  font-size: 18px;
}

.answer-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.answer-container .ls-answers ul {
  margin-bottom: 0;
}

.answer-container .ls-answers ul li:last-child {
  margin-bottom: 0;
}

.ls-question-help {
  padding-top: 5px;
}

.ls-question-help .em_default {
  display: none;
}

.ls-question-help .ls-em-error {
  color: #b71f2b;
}

.question-help-container {
  line-height: 1.2;
  margin-bottom: 10px;
}

.question-help-container p:last-child {
  margin-bottom: 0;
}

.asterisk {
  margin-right: 5px;
  display: none;
}

.asterisk .text-danger {
  color: #384e71;
}

.welcome-container-wrapper {
  background: white;
  padding: 15px;
  margin-bottom: 30px;
}

#welcome-container h1 {
  margin-top: 0;
}

.question-container {
  margin-bottom: 30px;
  background: white;
}

.question-title-container {
  background: #b71f2b;
  padding: 10px 15px;
}

.question-title-container .question-text {
  color: white;
  font-weight: normal;
}

.completed-wrapper {
  padding: 15px;
  background-color: white;
}

.navbar-default .navbar-nav > li.form-change-lang a {
  color: #333;
}

.form-change-lang {
  background: white;
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px;
  margin-bottom: 15px;
}

.privacy {
  background: white;
  margin-bottom: 15px;
}
/*# sourceMappingURL=theme.css.map */