// Variables
$CovidOrange: #F4623A;
$CovidBlue: #384e71;
$CovidRed: #b71f2b;
$CovidPink: #e94a50;

// Viridis with both ends cut off
$covid71: #41448788;
$covid72: #35608D88;
$covid73: #2A788E88;
$covid74: #21908C88;
$covid75: #22A88488;
$covid76: #43BF7188;
$covid77: #7AD15188;

$covid51: #41448788;
$covid52: #2F6C8E88;
$covid53: #21908C88;
$covid54: #2FB47C88;
$covid55: #7AD15188;