.multiple-opt{
    &.input-error{
        .answer-container{
            background: $CovidPink;
        }
    }

    li{
        &.checkbox-item{
            padding:0;
            color: #222;
            font-weight: normal;
            margin-bottom: 5px;

            input[type="checkbox"]{
                display: none;
            }
            
            .input-sm{
                font-size: 18px;
            }

            label{
                margin-bottom: 0;
                display: block;
                font-weight: normal;
                padding: 10px 40px;
                background: lighten($CovidBlue, 35%);

                &:hover{
                    background: #666;
                    color: white;

                    &::before,
                    &::after{
                        color: white;
                    }
                }

                &::before,
                &::after{
                    font-family: "FontAwesome";
                    content: "\f096";
                    font-size: 24px;
                    line-height: 1.2;
                    top: 8px;
                    width: 24px;
                    height: 24px;
                    border: none; 
                    background: transparent;
                    margin-left: 0;
                    margin-right: 0;
                    padding-right: 0;
                    padding-left: 0;
                    display: inline-block;
                    width: 30px;
                }

                &::before{
                    left: 10px;
                    right: auto;
                    text-align: left;
                }

                &::after{
                    left: auto;
                    right: 10px;
                    text-align: right;
                }
            }  
        }

        &.checkbox-text-item{
            label::after{
                display: none;
            }
        }
    }
}

.checkbox-item input[type="checkbox"]:checked + label::after,
.checkbox-item input[type="checkbox"]:checked + label::before {
    content: "\f046";
    color: white;
}

.checkbox-item input[type="checkbox"]:checked + label{
    background: $CovidBlue;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

.dir-rtl{
    .multiple-opt{
        li{
            &.checkbox-item{
                label{
                    &::before{
                        left: auto;
                        right: 10px;
                        text-align: right;
                    }

                    &::after{
                        right: auto;
                        left: 10px;
                        text-align: left;
                    }
                }  
            }
        }
    }
}

.checkbox-item.checkbox-text-item input[type="checkbox"]:checked + label::after {
    content: "";
    display: none;
}

@media (max-width: 767px){
    li.checkbox-item.checkbox-text-item .form-group.other-text-item{
        padding: 0 15px 15px;
    }
}
