.list-radio{
    .radio-list ul{
        border-radius: 2px;
    }
    
    .radio-item{
        background: lighten($CovidBlue, 35%);
        color: #222;
        font-weight: normal;
        padding-left: 0;
        margin-bottom: 0;
        border-bottom: 1px solid #ddd;
         
        input[type="radio"]{
            display: none;
        }

        &:hover{
            background: #666;
            color: white;
        }

        label{
            margin-bottom: 0;
            display: block;
            font-weight: normal;
            //margin-left: 10px; 
            padding: 10px;
            text-align: center;

            &::before,
            &::after{
                margin: 0;
                display: inline-block;
                content: "";
                width: auto;
                height: auto;
                border: none; 
                top: 6px;
                background: transparent;
            } 

            &::before{
                left: 0;
                padding: 0;
            }

            &::after{
                left: auto;
                right: 0;
                padding: 0;
            }
        }

        &.checked {
            background: $CovidRed;
            margin-left: 30px;
            margin-right: 30px;
            color: white;
            padding: 0 20px;
            &:hover{
                color: white;
            }

            label{
                &::before,
                &::after{
                    font-family: "FontAwesome";
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 1.2;
                    //width: auto;
                    //height: auto;
                    
                    border: none; 
                    background: transparent;
                } 

                &::before{
                    content: "\f105";
                }

                &::after{
                    content: "\f104";
                }
            }
        }

        .input-sm{
            font-size: 18px;
        }
    }
    
    .radio-text-item.radio-item{

        .form-group.other-text-item{
            padding-left: 15px;
            padding-right: 15px;
        }

        &.checked {
            .form-group.other-text-item{
                padding-left: 0;
                padding-right: 0;
            }

            label{

                &::before{
                    content: "\f105";
                    margin-left: -5px;
                }

                &::after{
                    content: "";
                }
            }
        }
    }

    &.bi{
        .radio-item{
            color: white;
            &:nth-child(1){
                background: $covid71;
            }
            &:nth-child(2){
                background: $covid72;
            }
            &:nth-child(3){
                background: $covid73;
            }
            &:nth-child(4){
                background: $covid74;
            }
            &:nth-child(5){
                background: $covid75;
            }
            &:nth-child(6){
                background: $covid76;
            }
            &:nth-child(7){
                background: $covid77;
            }
            &:nth-child(8){
                background: $covid78;
                color: black;
            }
            &:hover{
                background: #666;
                color: white;
            }
            &.checked {
                background: $CovidRed;
                margin-left: 30px;
                margin-right: 30px;
                color: white;
                &:hover{
                    color: white;
                }
            }
        }
    }

    &.uni{
        .radio-item{
            color: white;
            &:nth-child(1){
                background: $covid51;
            }
            &:nth-child(2){
                background: $covid52;
            }
            &:nth-child(3){
                background: $covid53;
            }
            &:nth-child(4){
                background: $covid54;
            }
            &:nth-child(5){
                background: $covid55;
            }
            &:nth-child(6){
                background: $covid56;
                color: black;
            }
            &:hover{
                background: #666;
                color: white;
            }

            &.checked {
                background: $CovidRed;
                margin-left: 30px;
                margin-right: 30px;
                color: white;
                &:hover{
                    color: white;
                }
            }
        }
    }
} 