@import 'colors';
@import 'fonts'; 
@import 'radiobuttons';
@import 'multiplechoice';
@import 'slider';

body{
    background: #ddd;
    background: $CovidBlue;
    font-size: 16px;
    font-family: scada, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-danger{
    color: $CovidRed;
}

.text-info{
    color: $CovidBlue;
}

.navbar-brand{
    padding: 0;
    height: 100px;
}

.navbar-default{
    background: $CovidBlue;
    border: none;
    .navbar-nav > li a{
        color: #ddd;

        &:hover{
            color: #fff;
        }
    }
}

select.form-control{
    font-size: 18px;
}

.answer-container{
    padding-top: 15px;
    padding-bottom: 15px;

    .ls-answers{
        ul{
            margin-bottom: 0;

            li:last-child{
                margin-bottom: 0;
            }
        }
    }
}

.ls-question-help{
    .em_default{
        display:none;
    }
    .ls-em-error{
        color: $CovidRed
    }
}

.asterisk{
    margin-right: 5px;

    .text-danger{
        color: $CovidBlue;
    }
    display: none;
}

.welcome-container-wrapper{
    background: white;
    padding: 15px;
    margin-bottom: 30px;
}

.welcome-container{
    h1{
        margin-top: 0;
    }
}

.question-container{
    margin-bottom: 30px;
    background: white;
}

.question-title-container{
    background: $CovidRed;
    padding: 10px 15px;

    .question-text{
        color: white;
        font-weight: bold;
    }
}